.storage
    display: flex
    justify-content: center
    &-tbl        
        width: 100%
        border-collapse: collapse         
        &-items
            background-color: #3D69C0
            border-radius: 30px
            &-item
                color: white
                padding: 5px
                font-family: 'Open Sans', sans-serif
                font-size: 18px
                font-weight: 400
        &-product  
            font-family: 'Open Sans', sans-serif
            text-align: center
            vertical-align: middle
            font-size: 15px
            &-row
                &-image
                    padding: 15px
                    &-img
                        padding: 10px
                        max-width: 100%
                        height: 30px
                        border: 1px solid #dee2e6
                        border-radius: 5px
                &-name
                &-category
                &-stock
                &-pricebuy
                &-pricesell
                &-status
                    width: 100px
                &-button-update 
                    padding: 0px
                    &-button
                        display: flex
                        align-items: center
                        justify-content: center
                        background-color: #33A53F
                        border-radius: 5px
                        width: 75px
                        height: 25px
                        padding: 2px
                        &-icon
                            display: flex
                            align-items: center
                            &-svg
                                width: 3.5rem
                                height: 3.5rem
                                &-path
                                    fill: white
                        &-text
                            font-size: 13px
                            margin: 0px 5px
                            color: white
                &-button-delete 
                        &-button
                            display: flex
                            align-items: center
                            justify-content: center
                            border-radius: 5px
                            width: 45px
                            height: 25px
                            padding: 2px
                            &-icon
                                display: flex
                                align-items: center
                                &-svg
                                    width: 4rem
                                    height: 4rem
                                    &-path
                                        fill: red

                            
